body {
    background-color: #fafafa;
}

#layerlist { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#layerlist li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#layerlist li span { position: absolute; margin-left: -1.3em; }

#main {
    display: flex;
}

#field {
    width:1000;
}

#layerstuff {
    flex-grow: 1;
}

#layers {
    padding: 20px;
}

.lockbutton {
}

.layer {
    display: flex;
    justify-content: space-between;
}

.is-dragover {
  background-color: lightgrey;
}

.hilite {
    color: red !important;
}